{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% block body %}
<div class="static_content">
  <h2>About the GÉANT Association</h2>


<p>The GÉANT Association is by its core membership. This includes 36 National Members, which are European national research and education network (NREN) organisations, and one Representative Member - NORDUnet - which participates on behalf of five Nordic NRENs. Associates are also welcome and include commercial organisations and multi-national research infrastructures and projects.</p>

<p>The GÉANT Association was formed on 7 October 2014, when its members agreed to change the Articles of Association of TERENA, changing its name to GÉANT, and the majority of DANTE shares were transferred to the GÉANT Association. The GÉANT Project is a major area of the association’s work and the association is proud to have adopted the GÉANT name. This restructuring marks a new phase in almost thirty years of collaborative research and education networking in Europe.</p>

<strong>Better together</strong>
<p>The main expected benefits of this restructuring are simplified governance, more efficient management, more flexible use of resources and a more inclusive membership. Members, services, operations and relationships with partners and related communities should see no adverse effects. Indeed, this restructuring will strengthen the European research and education networking community as a whole.</p>

<p>To access community news, working documents, links and information about all the activities undertaken in the GÉANT Association, or to find contact information regarding specific activities, please refer to the TERENA, TNC, GÉANT Project and DANTE websites. These websites will continue to be the core information and collaboration resources for the new organisation, until the full GÉANT Association website is ready.</p></div>
{% endblock %}
