{% extends 'PumukitWebTVBundle::layout.html.twig' %} {% block body %}
  <div class="static_content">
    <div class="container-fluid">
      <h2>Contact the GÉANT Association</h2>
      <p>The GÉANT Association’s staff are shared between offices in
	Amsterdam, NL (formerly TERENA), and in Cambridge, UK (formerly
	DANTE).</p>
      <div class="row">
	<div class="col-sm-6">
	  <img alt="amsterdam_office.jpg"
	       src="{{ asset('bundles/pumukitgeantwebtv/images/amsterdam_office.jpg') }}" />
	  <p>
	    
	    
	    <h4>Amsterd​am office</h4>


	    </h4>
	    <br>Singel 468 D, 1017 AW​​, Amsterdam.<br>The Netherlands<br>
	  </p>
	  <p>
	    T:+31(0)20 5304488<br>F:+31(0)20 5304499
	  </p>

	  <p>
	    <a href="https://www.google.nl/maps/place/Singel+468,+1017+Amsterdam/@52.3673029,4.8890322,17z/data=!3m1!4b1!4m2!3m1!1s0x47c609c1e488649f:0x764e5ddc7e724644"
               target="_blank">Amsterdam office on Google Maps​</a>
            <br>
            <a href="http://www.geant.org/Contacts/Documents/Gettingto-Amsterdamoffice.pdf"
               target="_blank">Download a pdf about getting to the Amsterdam
	      office​.​</a>
	  </p>
	</div>
	<div class="col-sm-6">
	  <img alt="cambridge_office.jpg"
	       src="{{ asset('bundles/pumukitgeantwebtv/images/cambridge_office.jpg') }}" />
	  <p>


	    
	    <h4>Cambridge office</h4>



	    <p>
	      T:+44 (0)1223 371 300 <br>F:+44 (0)1223 371 371
	    </p>
	    <p>
	      <a href="https://www.google.nl/maps/place/City+House,+126-130+Hills+Rd,+Cambridge,+Cambridgeshire+CB2+1RE,+UK/@52.1924259,0.1346977,17z/data=!3m1!4b1!4m2!3m1!1s0x47d87082bbeb485f:0x649faa7f980fbb5d"
                 target="_blank">Cambridge office on Google Maps​</a>
              <br>
              <a href="http://www.geant.org/Contacts/PublishingImages/Pages/Home/Gettingto-Cambridgeoffice.pdf"
                 target="_blank">Download a pdf about getting to the Cambridge
		office​.​</a>
	    </p>
	    <p>City House security: +44 (0)1223 363 628​​​​</p>
	</div>
      </div>
    </div>

    <!-- <p>For general queries about the GÉANT Association, please email: <a href="mailto:info@geant.org">info@geant.org</a></p>
    <p>For the <strong>Amsterdam office</strong> phone number, postal address and visiting instructions, see: <a href="http://www.terena.org/contact/">Terena contact information</a></p>
    <p>For the <strong>Cambridge office</strong> phone number, postal address and visiting instructions, see:    <a href="http://www.dante.net/About_Us/Visiting_DANTE/Pages/Home.aspx">Visiting_DANTE</a></p></div> -->
{% endblock %}
