{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% block body %}
<div class="static_content">
  <h2>Contact the GÉANT Association</h2>


<p>The GÉANT Association’s staff are shared between offices in Amsterdam, NL (formerly TERENA), and in Cambridge, UK (formerly DANTE).</p>

<p>For general queries about the GÉANT Association, please email: <a href="mailto:info@geant.org">info@geant.org</a></p>

<p>For the <strong>Amsterdam office</strong> phone number, postal address and visiting instructions, see: <a href="http://www.terena.org/contact/">Terena contact information</a></p>

<p>For the <strong>Cambridge office</strong> phone number, postal address and visiting instructions, see:    <a href="http://www.dante.net/About_Us/Visiting_DANTE/Pages/Home.aspx">Visiting_DANTE</a></p></div>
{% endblock %}
