{% extends 'PumukitWebTVBundle::layout.html.twig' %} {% block body %}
<div class="static_content">
	<h2>FAQ's</h2>

	<strong>Q: What kind of content shall I find at the edu<font color="#e81657">OER</font> front-end
		Portal?</strong>
	<p>
		<strong>A:</strong> The edu<font color="#e81657">OER</font> front-end portal gives access to
		multimedia content (video lectures, webinars, conferences, multimedia
		text etc.), coming from various educational institutions, national
		research and education networks (NRENs).
	</p>
	<br> <strong>Q: Why edu<font color="#e81657">OER</font>?</strong>
	<p>
		<strong>A:</strong>NRENS advocate that simply providing open access to
		education systems is not sufficient. Instead, the FAIR (findable,
		accessible, interoperable, re-usable) principle of content (the Data
		FAIRport initiative) is the appropriate way to address Open Education.
		That way, "federated access" to "openly licensed" educational content,
		in a as rich as possible "searchable" way, is the key to ensure the
		full benefits of Open Education.
	</p>
	<br> <strong>Q: Who is behind this effort?</strong>
	<p>
		<strong>A:</strong>The edu<font color="#e81657">OER</font> portal is supported by <a
			href="http://www.geant.org/About/Pages/Home.aspx" target="_blank">GEANT</a>,
		the leading collaboration on e-infrastructure and services for
		research and education, and has been created via the collaboration and
		share of knowledge between several National Research and Education
		Networks. You may find more details about the participating
		organizations <a href="https://oer.geant.org/partners/"
			target="_blank">here</a>.
	</p>
	<br> <strong>Q: We represent a higher education multimedia content
		repository. How can we share/ expose our content through the edu<font color="#e81657">OER</font>
		Front-End Portal?</strong>
	<p>
		<strong>A:</strong>Educational repositories and relevant content
		providers are invited to expose and share metadata (i.e the
		information about the content) of their open educational resources via
		the edu<font color="#e81657">OER</font> Hub. The edu<font color="#e81657">OER</font> Hub is the back-end engine behind the OER
		Web Portal. It also provides value-added services to the connected
		repositories in order to discover, analyze, validate and enrich their
		metadata. You will find guidelines for participating <a
			href="https://oer.geant.org/participate/" target="_blank">here</a>.
	</p>
	<br> <strong>Q: What kind of services do you provide to content
		providers?</strong>
	<p>
		<strong>A:</strong>The edu<font color="#e81657">OER</font> service provides a large number of
		services to content providers such as metadata analytics, validation,
		mapping and transformation against selected application profiles,
		monitoring via dashboards etc. You can find details <a
			href="https://oer.geant.org/services-for-content-providers/"
			target="_blank">here</a>.
	</p>

	<br>
	<strong>Q: Why OER by NRENS?</strong>
	<p>
		<strong>A:</strong>Many of the European NRENS are active in open
		education activities and have made a significant contribution to the
		deployment and availability of oe digital technology and content.
		Apart from that, NRENS are in a privileged position to produce/provide
		infrastructure and develop/support new technologies, (e.g. search
		technologies, metadata harmonization, federated access, portal
		creation). Additionally, NRENS are in a good position to spread the
		word about new methods of teaching/learning to academic/research
		institutions..
	</p>


	{% endblock %}