{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% block body %}
  <div class="static_content">
    <h2>Open Educational Resource (OER) portal pilot</h2>
    <p class="intro">
      The primary aim of this project is to develop the first working prototype of an Open Educational Resource portal service, by developing a metadata aggregation engine and a web portal front-end. The objective is to pilot this service for the broader Research and Education Networking Community at the beginning of 2015.<br>
      <br>
      The OER portal pilot project was initiated by the TERENA task force TF-Media (2012-2013), motivated by a great interest around the word in creating, using and storing audiovisual "learning objects" in repositories as a way of meeting growing educational demands, resulting in a growing number of repositories, organisations building and sustaining them, and their users. However, useful, high quality and copyright-compliant content is not always readily available, so there is a need for aggregating high quality content and providing metadata describing the topic, presenter, date of production, licensing and so on.
    </p>
    <p><img src="{{ asset('/bundles/pumukitgeantwebtv/images/oer-media.png') }}" style="max-width: 100%"></p>

    <p><b>
      The Open Educational Resource portal pilot is an ongoing effort to create a central hub for metadata aggregation for the education and research community.
      The hub will collect information about online learning content (metadata) to create a one-stop-shop for national learning resource providers and their users, using AAI federations.
    </b></p>

    <p>
      One of the most important goals of the OER portal initiative is to address the gap between the national repositories and the emerging global repositories, such as GLOBE. The OER service intends to aggregate metadata at the European level, which would help participating Universities and NRENs to bring the learning resources' information (metadata only not the object itself, the content remains in its original repository) at the higher level by stepping from the national to the pan-European and later global level of aggregation and creating the critical mass.
    </p>

    <p>
      At the moment, it is really hard to find search engines or portal sites which can usefully aggregate open educational materials, for example free text books contained in open repositories. The main reason for this is that purely web-based search engines like Google, Yahoo and Bing don't have crawler access to content outside of the world wide web (www) domain. Many OE resources are on the Internet, but not on the public www domain, which is part of the Internet, but not equal to the Internet.
      Hence, with public search engines you can easily get to the front-end web portals of the various institutional content repositories and collect information from there (with an example being <a href="http://www.openeducationeuropa.eu/">http://www.openeducationeuropa.eu/</a>) but you cannot get deeper into the repositories, where the meat of the content is located.


    </p><h3>Benefits of OER</h3>
    <p>
      The OER portal is envisaged to act as the public portal site, from which users can login with their federated identity, and subsequently search for OE content that's been aggregated through OER.
      This would not be the only benefit of OER though. With OER in place, users would not only have a one-stop-shop for OE materials, but also they would have various advanced services at their disposal to further enhance the added value of OER.
      One of these advanced services is the capability of OER to "learn" about its users. Because of the secure federated login, OER can be made capable to trace the users' behavior and thus identify them and follow their learning methods. In this way, OER can provide users search targets tailored to their personal learning profile. Additionally, content can be enriched by letting users add comments, remarks and markings (so called paradata opposed to metadata). With OER, the (trusted) source of the content can be verified, and peer reviews can be easily added.
      Another important benefit of the OER architecture is the modular and 'pluggable' nature of it. This means that institutions that don't like the web portal that we propose can still use their own institutional portal hooked up with the OER aggregation engine's targets via standardised interfaces.
    </p>

    <h3>Background of OER</h3>
    <p>
      The NREN community is monitoring developments in the Open Education (OE) marketplace and considering how NRENs can best add value to Open Education. The Open Education topic has been discussed under TERENA auspices for years, with a key contributor being the TF-Media task force.
      In February 2012, the idea of a European-level open educational resource portal to address the gap between national- and global-level repositories was first discussed during a TF-Media meeting. From that point onwards, the ideas matured within the task force and the wider community, eventually leading to the development of some early prototypes by mid-2013.
    </p>

    <h3>Next steps</h3>
    <p>
      The next phase, in which we are currently (mid-2014) in, consists of trying to involve the community in the service development pilot project that was kicked off on 28 March 2014, after approval by the TERENA Technical Committee.
      The goal is to deliver the first working prototype of the OER metadata aggregation engine and proof-of-concept web portal as well as describe a pilot service by the end of 2014 or beginning of 2015.
      In the meantime, negotiations with the European Commission on this subject, trying to secure funds under the flag of the GN4 project, are ongoing. The European Commission has shown interest in continuing the development of OER, and that's as much as we can tell at the moment.
      For more information about OER, you can visit the <a href="https://confluence.terena.org/pages/viewpage.action?pageId=33751325">OER pilot Wiki page</a> or subscribe yourself to the <a href="http://www.terena.org/mailinglists.php?list=tf-media@terena.org">TF-Media mailing list</a>.
    </p>

    <p>
      The contact person for this activity is Peter Szegedi.
    </p>	<p class="running_period">
      Running period: March 2014 -
      December 2014
    </p>


  </div>
{% endblock %}
