{% extends 'PumukitWebTVBundle::layout.html.twig' %} {% block body %}

<style>
ul {
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1 em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}
</style>
<div class="static_content">
	<h2>The edu<font color="#e81657">OER</font> front-end portal</h2>
	<p class="intro">
		Open educational resources (OER) are rapidly becoming a major factor
		for education at all levels. During the last years, the OER community
		has grown considerably and the impact of OER on educational systems
		has become an issue of public policy. In this context, the GEANT
		community decided to create the edu<font color="#e81657">OER</font> portal, in order to help
		students, educators, and content creators find content across diverse
		resources, disc​iplines and countries. <br> <br> The edu<font color="#e81657">OER</font> portal
		provides users with the means to search and find open educational
		multimedia content across multiple disciplines, countries and
		languages in order to re-use, revise, remix or redistribute it. The
		content is divided by repository catalog (coming from various
		Universities, NRENs, European organizations etc.) and by subject.
	</p>
	<!-- <p>
		<img src="{{ asset('/bundles/pumukitgeantwebtv/images/pilot.png') }}"
			style="max-width: 100%">
	</p>-->

	<p>
		<b> The edu<font color="#e81657">OER</font> portal is supported by <a
			href="http://www.geant.org/About/Pages/Home.aspx" target="_blank">GEANT</a>,
			the leading collaboration on e-infrastructure and services for
			research and education, and has been created via the collaboration
			and share of knowledge between several National Research and
			Education Networks. You may find more details about the participating
			organizations <a href="https://oer.geant.org/partners/"
			target="_blank">here</a>. The portal is a part of the overall <a
			href="https://oer.geant.org/" target="_blank">edu<font color="#e81657">OER</font> hub & Portal
				service</a>.
		</b>
	</p>

	<p>
		A number of services has been developed for the content (metadata)
		providers, such as metadata analytics, validation, mapping and
		transformation against selected application profiles, monitoring via
		dashboards etc. You can find details on those services <a
			href="https://oer.geant.org/services-for-content-providers/"
			target="_blank">here</a>.
	</p>

	<p>
		This Web Portal is using the open-source <a href="http://pumukit.org/"
			target="_blank">PuMuKit software platform</a> as the basis of the web
		portal development. At technical level, the web front-end portal’s
		objective is to connect, harvest, and regularly synchronize metadata
		with the aggregation back-end engine via the latest <a
			href="https://services.oer.geant.org/search/" target="_blank">REST
			API</a>. Moreover the goal is to provide access to the relative
		content by multiple methods of search.
	</p>

	<p>At a later stage, the web portal will include:</p>

	<ul>
		<li>Federated access and membership management.</li>
		<li>Multi-lingual user interface and customization option.</li>
		<li>Web access for disabled.</li>
		<li>Paradata collection and handling including: rating, commenting,
			popular items, suggested items, dynamic tag cloud, usage information,
			quality issues.</li>
		<li>Peer review functionality.</li>
	</ul>


</div>
{% endblock %}
