<footer>
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div id="footer-links">
      <div class="footer-links-left" style="float:left;">
        <span id="DeltaPlaceHolderFooterLeftLinks">
          <div class="ms-webpart-chrome ms-webpart-chrome-fullWidth ">
            <div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ4" width="100%" class="ms-WPBody noindex " onlyformepart="true" allowminimize="false" allowremove="false" allowdelete="false" style="">
              <div style="display: none;"></div>
              <div componentid="ctl00_PlaceHolderFooterLeftLinks_ContentBySearchWebPart2_csr" id="ctl00_PlaceHolderFooterLeftLinks_ContentBySearchWebPart2_csr">
                <ul class="geant-nav-links">
                  <li class="nav-link-item">
                    <a href="http://www.geant.org/Networks">
                      Networks
                    </a>
                  </li>
                  <li class="nav-link-item">
                    <a href="http://www.geant.org/Services">
                      Services
                    </a>
                  </li>
                  <li class="nav-link-item">
                    <a href="http://www.geant.org/People">
                      People
                    </a>
                  </li>
                </ul>
              </div>
              <noscript>&lt;div id="ctl00_PlaceHolderFooterLeftLinks_ContentBySearchWebPart2_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript>
              <div id="ctl00_PlaceHolderFooterLeftLinks_ContentBySearchWebPart2">
                <div class="display-none">
                  <div class="ms-webpart-chrome-title" id="WebPartWPQ32_ChromeTitle">
                    <span title="" id="WebPartTitleWPQ32" class="js-webpart-titleCell">
                      <h2 style="text-align:justify;" class="ms-webpart-titleText">
                        <nobr>
                          <span></span>
                          <span id="WebPartCaptionWPQ32"></span>
                        </nobr>
                      </h2>
                    </span>
                  </div>
                  <div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ32" width="100%" class="ms-WPBody ms-WPBorder noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style="">
                    <div componentid="ctl00_PlaceHolderFooterLeftLinks_ContentBySearchWebPart2_ctl00_csr" id="ctl00_PlaceHolderFooterLeftLinks_ContentBySearchWebPart2_ctl00_csr">
                      <div class="ms-srch-dataProvider" id="DataProvider" name="Control"></div>
                    </div>
                    <noscript>&lt;div id="ctl00_PlaceHolderFooterLeftLinks_ContentBySearchWebPart2_ctl00_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript>
                    <div id="ctl00_PlaceHolderFooterLeftLinks_ContentBySearchWebPart2_ctl00">

                    </div><div class="ms-clear"></div>
                  </div>
                </div>
              </div>
              <div class="ms-clear"></div>
            </div>
          </div>


        </span>
      </div>
      <div class="footer-links-right" style="float:right;">
        <span id="DeltaPlaceHolderFooterRightLinks">


          <div class="ms-webpart-chrome ms-webpart-chrome-fullWidth ">
            <div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ5" width="100%" class="ms-WPBody noindex " onlyformepart="true" allowminimize="false" allowremove="false" allowdelete="false" style=""><div style="display: none;"></div><div componentid="ctl00_PlaceHolderFooterRightLinks_ContentBySearchWebPart3_csr" id="ctl00_PlaceHolderFooterRightLinks_ContentBySearchWebPart3_csr">
              <ul class="geant-nav-links">
                <li class="nav-link-item">
                  <a href="http://www.geant.org/Policies">
                    Cookies &amp; Policies
                  </a>
                </li>
                <li class="nav-link-item">
                  <a href="http://www.geant.org/Disclaimer">
                    Disclaimer
                  </a>
                </li>
              </ul>
            </div>
            <noscript>&lt;div id="ctl00_PlaceHolderFooterRightLinks_ContentBySearchWebPart3_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript>
            <div id="ctl00_PlaceHolderFooterRightLinks_ContentBySearchWebPart3">
              <div class="display-none">
                <div class="ms-webpart-chrome-title" id="WebPartWPQ33_ChromeTitle">
                  <span title="" id="WebPartTitleWPQ33" class="js-webpart-titleCell">
                    <h2 style="text-align:justify;" class="ms-webpart-titleText">
                      <nobr>
                        <span></span>
                        <span id="WebPartCaptionWPQ33"></span>
                      </nobr>
                    </h2>
                  </span>
                </div>
                <div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ33" width="100%" class="ms-WPBody ms-WPBorder noindex ms-wpContentDivSpace " onlyformepart="true" allowdelete="false" style="">
                  <div componentid="ctl00_PlaceHolderFooterRightLinks_ContentBySearchWebPart3_ctl00_csr" id="ctl00_PlaceHolderFooterRightLinks_ContentBySearchWebPart3_ctl00_csr">
                    <div class="ms-srch-dataProvider" id="DataProvider" name="Control"></div>
                  </div>
                  <noscript>&lt;div id="ctl00_PlaceHolderFooterRightLinks_ContentBySearchWebPart3_ctl00_noscript"&gt;It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.&lt;/div&gt;</noscript>
                  <div id="ctl00_PlaceHolderFooterRightLinks_ContentBySearchWebPart3_ctl00">
                  </div>
                  <div class="ms-clear"></div>
                </div>
              </div>
            </div>
            <div class="ms-clear"></div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</footer>
