{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block body %}
<p class="main_menu_text">This service shows the currently available catalogs of audiovisual files. These files are divided between the public and private media libraries (depending on whether or not they are publicly available to the general public), and grouped according to the selected criteria.</p>
  <h1 class="title-for-crumbs">{% trans %}Repository Catalogue{% endtrans %}</h1>
    {% for tag in provider_tags %}
      {% include 'PumukitGeantWebTVBundle:Catalogue:serieslike_tag.html.twig' with {'tag': tag } %}
    {% endfor %}
{% endblock %}
